---
---
<!DOCTYPE html>
<html>
<head>
        {% include head.html %}
        {% include head/custom.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Alwurts CV Page</title>

    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- font-awesome -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar">

    {% include browser-upgrade.html %}
    {% include masthead.html %}


    {% if site.search == true %}
      <div class="search-content">
        {% include search/search_form.html %}
      </div>
    {% endif %}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

<div id="main-wrapper">


<div class="columns-block container">
<div class="left-col-block blocks">
    <header class="header theiaStickySidebar">
        <div class="profile-img">
            <img src="/assets/images/profile-user-2.jpg" class="img-responsive" alt="Profile Picture"/>
        </div>
        <div class="content">
            <h1>Alejandro Wurts</h1>
            <span class="lead">Mechatronics Engineer</span>

            <div class="about-text">
                <p>
                    Mechatronics engineer from Puebla, Mexico with interest in industrial 
                    automation, robotics and control systems research. 
                    My skill set involves Programming, Electrical Circuits 
                    and Mechanical design. Currently looking to gain more 
                    experience in the field of industrial automation and robotics.
                </p>
                <!--<p>Provide tools and skills to accomplish any project with
                     a focus on remote teams managment.</p>-->
                

                <section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
               

                <address>
                    <strong>Location</strong><br>
                    Puebla, México 
                </address>

                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:alejandro.wurtsss@udlap.mx">alejandro.wurtsss@udlap.mx</a>
                </address>

                <address>
                        <strong>Personal Website</strong><br>
                        <a href="https://www.alejandrowurts.com">alejandrowurts.com</a> </a>
                    </address>

                <address>
                        <strong>Linked In</strong><br>
                        <a href="https://www.linkedin.com/in/alejandrowurts/">Alejandro Wurts</a> </a>
                    </address>
            </div>
        </div>
                <!--<p><img src="/assets/img/Signature.png" alt="" class="img-responsive"/></p>-->
            </div>

            <!--
            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
            -->
        </div>

    </header>
    <!-- .header-->
</div>
<!-- .left-col-block -->


<div class="right-col-block blocks">
<div class="theiaStickySidebar">
<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Main Qualities</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Innovation driven</h3>

                    <p>
                        Constantly learning about new techonologies and looking for ways to innovate in them.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Multidisciplinary Knowledge</h3>

                    <p>
                         Practice with new skills in several disciplines to have experience in how they can be integrated and used in projects.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Team driven</h3>

                    <p>
                        Experience in team management through projects that required fast pased development of a system.
                </div>
            </div>

            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Global experience</h3>

                    <p>
                        Worked and traveled internationally which allowed me to open my mind to new opportunities and new ways of thinking. </p>
                </div>
            </div>

        </div>


    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Project Managment</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                        <p><em>Familiar with tools such as Scrum methodology and Gantt Diagram scheduling system</em></p>
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Robotics</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 45%;"><span class="progress-percent"> 45%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                        <p><em>Robot Modeling, DH parameters, Direct and Inverse Kinematics, trajectory generation</em></p>
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Matlab and Simulink</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 60%;"><span class="progress-percent"> 60%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                        <p><em>Experience on using Matlab for control systems and robotics</em></p>
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Fusion 360, Catia V5 CAD Tools</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <p><em>Experience in parametric design, able to design complex parts.</em></p>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Front End Web Developement</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 40%"><span class="progress-percent"> 40%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                        <p><em>Experience in creating static websites using tools like Jekyll, HTML and CSS
                            <br>This website was developed by me using such tools.</em></p>
                    </div>
                    <!-- /.skill-progress -->


                    

                    <div class="progress-item">
                        <span class="progress-title">Communication Skills</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 75%;"><span class="progress-percent"> 75%</span>
                            </div>
                        </div>
                        <p><em>Constantly looking for ways to improve the way I communicate with 
                            learning new languages being a passion of mine.</em></p>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">3D Printing</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 70%;"><span class="progress-percent"> 70%</span>
                            </div>
                        </div>
                        <p><em>Experience with CAD design for 3D printing as well as debugging Reprap style machines.</em> </p>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                    <div class="progress-item">
                            <span class="progress-title">Microcontroller based development </span>
    
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                                </div>
                            </div>
                            <p><em>Experience in developing systems based on microcontrollers with tools such as PIC CCS, PIC XC8,
                                 Assembler for 8 bit PIC Microcontroller and Arduino C++. </em></p>
                            <!-- .progress -->
                        </div>
                        <!-- .skill-progress -->

                    <div class="progress-item">
                            <span class="progress-title">Python, C and C++ programming </span>
    
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 65%;"><span class="progress-percent"> 65%</span>
                                </div>
                            </div>
                            <p><em>Object oriented programming, with particular experience in programming for microcontrolers. </em></p>
                            <!-- .progress -->
                        </div>
                        <!-- .skill-progress -->

                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->


<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Language Skills</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">English</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 95%"><span class="progress-percent">Bilingual</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Spanish</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 95%"><span class="progress-percent">Bilingual</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">German</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 40%;"><span class="progress-percent">Elementary proffiency</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    
                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>May 2018 - August 2018</small>
                    <h3>Engineering Intern</h3>
                    <h4>Nanguang Photo & Video systems.</h4>

                    <p>China, Shantou</p>
                    <p><em>Summer internship where my main duties where to develop 
                        new lighting products using CAD design as well as assiting the company
                        with the creation and correction of user manuals for the products in their catalog.
                        </em>
                    </p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>2015 - 2017</small>
                    <h3>Sales man</h3>
                    <h4>Citibanamex</h4>

                    <p>México, Puebla</p>
                    <p><em>Part time job working as a salesman for credit card products with
                        a focus on universities, my duties involved working in a sales team as well
                        as Social Media based marketing and sales.
                    </em></p>
                </div>
               
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-experience -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>2015 - 2019</small>
                    <h3>Bachelors in Mechatronics Engineering</h3>
                    <h4>Universidad de las Americas Puebla UDLAP</h4>

                    <p>Mexico, Puebla</p>
                    <P> Graduated as a Mechatronics Engineer with
                         interest in digital systems and robotics</P>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>2013 - 2014</small>
                    <h3>High school diploma</h3>
                    <h4>Valley High School</h4>

                    <p>United States, West Des Moines, IA</p>
                    <p>International student in USA as a Rotary Exchange Student</p>
                </div>
                
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-education -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Interest</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                

                <div class="content-item">
                    <h3>Making</h3>

                    <p>One of my biggest hobbies is to experiment with learning new skills by making different projects
                        that can be categorized as maker projects, such projects involve skills like electronics
                        , mechanics, programming, carpentry etc. To find more about projects that I make you can 
                    visit the projects section of my personal website.</p>

                </div>

                <div class="content-item">
                    <h3>Volunteering</h3>

                    <p>Since secondary school I have found rewarding to give my time volunteering in several organizations
                        with the most involvment being with Rotary International as part of the Interact group and subsequently the Rotaract group of my town.</p>
                </div>

                <div class="content-item">
                    <h3>Books</h3>

                    <p>I'm a big fan of fiction literature with my favorite sagas being Harry Potter and 
                        Narnia.</p>
                </div>
            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->



        <!--.row<div class="row">
            <div class="col-md-12">
                <div class="feedback-form">-->
        

<!-- Copyright section uncomment to show
<footer class="footer">
    <div class="copyright-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext">&copy; Resumex. All rights reserved | Original Design By: <a
                            href="https://themehippo.com">themehippo</a></div>
                </div>
            </div>

        </div>

    </div>
  
</footer>
-->
<!-- .footer -->
</div>
<!-- Sticky -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->


<!--Uncomment below snipet of code to make the webpage move better altough it doesnt
work when integrated into my website-->


<!-- jquery 
<script src="/assets/js/jquery-2.1.4.min.js"></script>
-->
<!-- Bootstrap 
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/theia-sticky-sidebar.js"></script>
<script src="/assets/js/scripts.js"></script>
</body>
</html>
-->